
@font-face {
  font-family: 'perfect_dark_brkregular';
  src: url('fonts/pdark-webfont.woff2') format('woff2'),
       url('fonts/pdark-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

#myform {
  display: flex;
}

body {
  font-family: 'Roboto Mono', monospace;
  width: 600px;
  margin: auto;
  text-align: center;
  margin-top: 100px;
}

div {
  padding-top: 20px;
}

h1 {
  font-family: 'perfect_dark_brkregular';
  font-size: 30pt;
  font-weight: bold;
  padding-bottom: -10px;
}

h2 {
  font-size: 15pt;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.showing {
  visibility: showing;
  opacity: 1;
}

#overlay {
  position: absolute;
  background-color: rgba(0,0,0,0.5);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transition-property: visibility, opacity;
  transition-duration: 1s;
  transition-timing-function: ease;
}

#overlay article {
  box-sizing: border-box;
  background-color:#fff;
  border-radius: 5px;
  padding: 20px;
  width: 40vw;
  height: 65vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

#labels {
  display: flex;
  gap: 50px;
}

section {
  flex: 1;
}

label {
  display: block;
}

#madlib {
  line-height: 1.2em;
  padding: 20px;
  text-align: left;
}

#Send, .close {
  color: black;
  transition: .3s;
  padding: 10px;
  border-style: inset;
}

#Send:hover, .close:hover {
  background-color: red;
  cursor: pointer;
}